.dock {
    z-index: 15;
    width: 740px;
    background-color: rgba(255,255,255,.05);
    border-radius: 20px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0px;
    display: flex;
    position: fixed;
    top: auto;
    bottom: 1%;
    left: 0%;
    right: 0%;
    backdrop-filter: blur(5px);
}

.dock-divider {
    width: 1px;
    height: 60px;
    border: 1px solid rgba(184,184,184,.23);
    margin-left: 5px;
    margin-right: 5px;
}

.dock-icon {
    width: 90px;
    height: 100%;
    color: #a3a3a3;
    flex-direction: column;
    flex: none;
    justify-content: center;
    align-self: auto;
    align-items: center;
    margin: 0 5px;
    padding: 4px;
    font-size: 10px;
    text-decoration: none;
    transition: filter .2s;
    display: flex;
}

